<!DOCTYPE html>
<html>
  <head>
    <style>
      html,
      body {
        height: 100%;
      }

      body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
      }
      .form-signin .checkbox {
        font-weight: 400;
      }
      .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    </style>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <meta name="google-signin-client_id" content="<%= YOUR_CLIENT_ID %>" />
  </head>
  <body class="text-center" onload="checkLogout()">
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId: "786671431836201",
          cookie: true,
          xfbml: true,
          version: "v5.0"
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");
    </script>
    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=786671431836201&autoLogAppEvents=1"
    ></script>
    <form class="form-signin" method="post">
      <h1 class="h3 mb-3 font-weight-normal">ACworks Sign in</h1>
      <h4 class="font-weight-normal">to continue <%= origin %></h4>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input
        type="email"
        name="email"
        id="inputEmail"
        class="form-control"
        placeholder="Email address"
        required
        autofocus
      />
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        name="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        required
      />
      <div class="checkbox mb-3"></div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign in
      </button>
      <hr />
      <div
        class="g-signin2"
        data-width="300"
        data-height="40"
        data-longtitle="true"
        data-onsuccess="onSignIn"
      ></div>
      <p></p>
      <div
        class="fb-login-button"
        data-width="300"
        data-size="large"
        data-button-type="login_with"
        data-use-continue-as="true"
        data-scope="email"
        data-onlogin="checkLoginState()"
      ></div>
    </form>
  </body>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script>
    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }
    function statusChangeCallback(response) {
      if (response.status === "connected") {
        FB.api("/me", { fields: "email" }, function(response) {
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
              window.location = getUrlParameter("serviceURL");
            }
          };
          xhr.open(
            "POST",
            "/acsso/facebooksignin?serviceURL=" + getUrlParameter("serviceURL")
          );
          xhr.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
          );
          xhr.withCredentials = true;
          xhr.send("email=" + response.email);
        });
      }
    }
    function onSignIn(googleUser) {
      var email = googleUser.getBasicProfile().getEmail();
      var token = googleUser.getAuthResponse().id_token;
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.disconnect();
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
          window.location = getUrlParameter("serviceURL");
        }
      };
      xhr.open(
        "POST",
        "/acsso/googlesignin?serviceURL=" + getUrlParameter("serviceURL")
      );
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.withCredentials = true;
      xhr.send("email=" + email + "&token=" + token);
    }
    function getUrlParameter(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
      var results = regex.exec(location.search);
      return results === null
        ? ""
        : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    function checkLogout() {
      if (window.location.hash == "#logout") {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function() {
          auth2.disconnect();
          window.location = getUrlParameter("serviceURL");
        });
      }
    }
  </script>
</html>
